.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}

.Menu {
    display: none;
    height: 20px;
    line-height: 20px;
    padding: 0 0 0 40px;
    position: relative;
}

@media (max-width: 500px) {
    .Menu {
        display: block;
    }
}

.Menu:before,
.Menu:after,
.Menu span {
    background-color: #fff;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    top: 0;
    width: 30px;
}

.Menu span {
    display: block;
    top: calc(50% - 1px);
}

.Menu:before,
.Menu:after {
    content: '';
}

.Menu:after {
    top: auto;
    bottom: 0;
}